<h2>Are you sure you want to delete?<h2>
<form action="/<%= @specficpokemon.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
