<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokenatra</title>
    <link rel="stylesheet" type="text/CSS" href="public/css/pokestyle.css">
  </head>
  <body>
    <%= yield%>
  </body>
</html>
