<h2> Enter your information here to create new pokemon</h2>
<form class="" action="/new" method="post">

  <label>Name:</label>
  <input name="pokemon[name]">

  <label>Poke Type:</label>
  <input name="pokemon[poke_type]">

  <label>cp:</label>
  <input  name="pokemon[cp]">

  <label>Image url:</label>
  <input  name="pokemon[img_url]">

  <input type="submit" value="Create Pokemon">
</form>
